<div class="toolbar" role="banner">
  <span class="toolbar-text">
      Angular Popover with Links Demo
  </span>
  <div class="spacer"></div>
  <div class="findmetextdiv">
    <ng-template #popContent>
      <div class="popovercontent"><a target="_blank" href="#">Option 1</a></div>
      <div class="popovercontent"><a target="_blank" href="#">Option 2</a></div>
      <div class="popovercontentlast"><a target="_blank" href="#">Option 3</a></div>
    </ng-template>
    <a class="findmetext" href="#" [ngbPopover]="popContent" triggers="mouseenter" container="body">
      Popover
    </a>
  </div>
</div>
<router-outlet></router-outlet>